[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"

[requires]
python_version = "3.6"

[dev-packages]
