[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
gunicorn = "*"
hbmqtt = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"

[dev-packages]